<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/controls.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/frame.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/footer.js' %}"></script>
    <script src="{% static 'js/widgets.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</head>
<body>
    <div class="menu" style="background-color:#ffffff;">
        <div class="menu-table flex-row-space-between" style="border-bottom: 1px solid black;">
            <div class="logo flex-row-center">
                <img src="{% static 'img/favicon.ico' %}" style="margin-right: 20px; max-width:50px; max-height:40px;">
                <a href="index.html">Value Study</a>
            </div>
            <a class="menu-button" tabindex="0" href="javascript:void(0)">
                <img src="{% static 'img/menu.png' %}">
            </a>
            <div class="menu-items flex-row-center flex-item">
                <a class="menu-embedding" href="">Overview</a>
                <a class="menu-widget" href="">About us</a>
                <a class="menu-embedding" href="">Privacy</a>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
