{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet">
{% endblock %}



{# ****************************************************************************************************************** #}
{# *** SCRIPTS *** #}
{# ****************************************************************************************************************** #}
{% block scripts %}
    {% if Constants.small_pies == True or Constants.large_pies == True %}
        <script>
            num_choices = {{ Constants.num_choices|json }};
            lottery_a_hi = "{{ Constants.lottery_a_hi }}";
            lottery_a_lo = "{{ Constants.lottery_a_lo }}";
            lottery_b_hi = "{{ Constants.lottery_b_hi }}";
            lottery_b_lo = "{{ Constants.lottery_b_lo }}";

            one_choice = "{{ Constants.one_choice_per_page }}";
            percentage = "{{ Constants.percentage }}";
            large_pies = "{{ Constants.large_pies }}";
        </script>
            
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="{% static 'mpl/js/pie_charts.js' %}"></script>

    {% endif %}

    {% if Constants.enforce_consistency == True %}
        {% if Constants.one_choice_per_page == False and Constants.random_order == False %}
            <script src="{% static 'mpl/js/consistency.js' %}"></script>
        {% endif %}
    {% endif %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    
<div class="menu" style="background-color:#ffffff;">
    <div class="menu-table flex-row-space-between" style="border-bottom: 0px solid black; ">
      <div class="logo flex-row-center">
        <img src="{% static 'img/favicon.ico' %}" style="margin-right: 20px; 
        max-width:50px;
        max-height:40px;"><br>
        
        <a href="index.html">Value Study</a>
      </div>
      <a class="menu-button" tabindex="0" href="javascript:void(0)">
        <img src="{% static 'img/menu.png' %}">
      </a>
      <div class="menu-items flex-row-center flex-item">
        <a class="menu-embedding" target="_blank" href="{% static 'html/privacy.html' %}">Overview</a>
        <a class="menu-widget" target="_blank" href="{% static 'html/privacy.html' %}">About us</a>
        <a class="menu-embedding" target="_blank" href="{% static 'html/privacy.html' %}">Privacy</a>

 
        
      </div>
    </div>
  </div>

  <link rel="stylesheet" type="text/css" href="{% static 'css/controls.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/frame.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/widgets.css' %}">
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="{% static 'js/menu.js' %}"></script>
  <script src="{% static 'js/footer.js' %}"></script>
  <script src="{% static 'js/widgets.js' %}"></script>
  <script src="{% static 'js/util.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper">

        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Progress Bar -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        {% if Constants.one_choice_per_page == True and Constants.progress_bar == True %}
            <label>
                {% blocktrans trimmed with page=page total=total %}
                    Page {{ page }} of {{ total }}
                {% endblocktrans %}
            </label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:{{ progress|json }}%;">
                    <span class="sr-only"></span>
                </div>
            </div>
        {% endif %}


        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Lottery Decisions: Large Pies -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        {% if Constants.one_choice_per_page == True and Constants.large_pies == True %}

            <div class="card">
                <table class="table">
                    <thead>
                        <tr class="header">
                            <th class="center">{% trans "Option A" %}</th>
                            <th class="center">{% trans "Option B" %}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tbody>
                            {% for i,f,p in choices %}
                                <tr>
                                    <td class="pie-chart">
                                        <div id="pie_a_{{ i }}" class="pie-chart"></div>
                                    </td>
                                    <td class="pie-chart">
                                        <div id="pie_b_{{ i }}" class="pie-chart"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <button name="{{ f }}" value="A" class="btn btn-primary">
                                            {% trans "Option A" %}
                                        </button>
                                    </td>
                                    <td class="center">
                                        <button name="{{ f }}" value="B" class="btn btn-primary">
                                            {% trans "Option B" %}
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        
                        
                    </tbody>
                </table>
            </div>


        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Lottery Decisions: Choice List -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        {% else %}

            <div class="card">
                <table class="table table-striped">
                    <thead>
                        <tr class="header">
                            {% if Constants.small_pies == True %}
                                <th class="pie-chart"></th>
                            {% endif %}
                            <th class="lottery-a">{% trans "Option A" %}</th>
                            <th class="formfield"></th>
                            <th class="lottery-b">{% trans "Option B" %}</th>
                            {% if Constants.small_pies == True %}
                                <th class="pie-chart"></th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for i,f,p in choices %}
                            <tr>
                                {% if Constants.small_pies == True %}
                                    <td class="pie-chart">
                                        <div id="pie_a_{{ i }}" class="pie-chart"></div>
                                    </td>
                                {% endif %}
                                <td class="lottery-a">
                                    {{ lottery_a_hi }} {% trans "with a probability of " %}{{ p }},<br/>
                                    {{ lottery_a_lo }} {% trans "otherwise" %}
                                </td>
                                <td class="formfield">
                                    <input type="radio" name="{{ f }}" value="A" required>
                                    <input type="radio" name="{{ f }}" value="B" required>
                                </td>
                                <td class="lottery-b">
                                    {{ lottery_b_hi }} {% trans "with a probability of " %}{{ p }},<br/>
                                    {{ lottery_b_lo }} {% trans "otherwise" %}
                                </td>
                                {% if Constants.small_pies == True %}
                                    <td class="pie-chart">
                                        <div id="pie_b_{{ i }}" class="pie-chart"></div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>

        {% next_button %}

    {% endif %}

</div>

{% endblock %}
